version: "3.9"

services:
  automail:
    build: .
    container_name: tarunautomail
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always

